[submodule "cs-ipa-cores-test1/cs-ipa-cores-test1/submodules/IPA-DN-Cores"]
	path = cs-ipa-cores-test1/cs-ipa-cores-test1/submodules/IPA-DN-Cores
	url = https://github.com/IPA-CyberLab/IPA-DN-Cores.git
[submodule "vc-backup-test1/nativelib"]
	path = vc-backup-test1/nativelib
	url = https://github.com/IPA-CyberLab/IPA-DN-NativeLib.git
